<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><![CDATA[timbroder.com]]></title>
    <link href="https://www.timbroder.com/blog/tags/events.xml" rel="self"/>
    <link href="https://www.timbroder.com/"/>
    <updated>2018-09-09T12:21:33+00:00</updated>
    <id>https://www.timbroder.com/</id>
            <author>
            <name><![CDATA[Tim Broder]]></name>            <email><![CDATA[timothy.broder@gmail.com]]></email>        </author>
        <generator uri="http://sculpin.io/">Sculpin</generator>
            <entry>
            <title type="html"><![CDATA[Live Diggnation NY Photos]]></title>
            <link href="https://www.timbroder.com/2008/06/live-diggnation-ny-photos.html"/>
            <updated>2008-06-05T11:31:00+00:00</updated>
            <id>https://www.timbroder.com/2008/06/live-diggnation-ny-photos.html</id>
            <content type="html"><![CDATA[<p>The show was absolutely nuts. Had a great time at Studio B. Sorry for the
crappy photo quality, I forgot my camera and the blackberry doesn't do so well
in the dark... I think the estimate for this meetup was about 2,000 people
inside and 600 waiting outside in the rain? Great turnout, great show.
Diggnation better come back to NY. (As they said at the show, NY creates/diggs
the most content on Digg then anywhere else in the world, GO NEW YORK!</p>

<p>[![](ht
tp://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPwSCzrtI/AAAAAAAASAk/uE3SLJhkVc4/s400/I
MG00031.jpg)](http://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPwSCzrtI/AAAAAAAASAk/uE
3SLJhkVc4/s1600-h/IMG00031.jpg) [![](http://4.bp.blogspot.com/_Ng3QbVQfLZ8/SEf
PtyCzrsI/AAAAAAAASAc/peqDoJ87kDk/s400/IMG00032.jpg)](http://4.bp.blogspot.com/
_Ng3QbVQfLZ8/SEfPtyCzrsI/AAAAAAAASAc/peqDoJ87kDk/s1600-h/IMG00032.jpg) [![](ht
tp://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPrSCzrrI/AAAAAAAASAU/eCCoFaLbTwo/s400/I
MG00033.jpg)](http://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPrSCzrrI/AAAAAAAASAU/eC
CoFaLbTwo/s1600-h/IMG00033.jpg) [![](http://3.bp.blogspot.com/_Ng3QbVQfLZ8/SEf
PliCzrqI/AAAAAAAASAM/tpEyMMpkI9I/s400/IMG00034.jpg)](http://3.bp.blogspot.com/
_Ng3QbVQfLZ8/SEfPliCzrqI/AAAAAAAASAM/tpEyMMpkI9I/s1600-h/IMG00034.jpg) [![](ht
tp://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPgSCzrpI/AAAAAAAASAE/dSjsnwdN89U/s400/I
MG00035.jpg)](http://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPgSCzrpI/AAAAAAAASAE/dS
jsnwdN89U/s1600-h/IMG00035.jpg) [![](http://3.bp.blogspot.com/_Ng3QbVQfLZ8/SEf
PYiCzroI/AAAAAAAAR_8/knHsvfKP7Vs/s400/IMG00036.jpg)](http://3.bp.blogspot.com/
_Ng3QbVQfLZ8/SEfPYiCzroI/AAAAAAAAR_8/knHsvfKP7Vs/s1600-h/IMG00036.jpg) [![](ht
tp://3.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPRiCzrnI/AAAAAAAAR_0/qAMV4gBESLs/s400/I
MG00037.jpg)](http://3.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPRiCzrnI/AAAAAAAAR_0/qA
MV4gBESLs/s1600-h/IMG00037.jpg) [![](http://3.bp.blogspot.com/_Ng3QbVQfLZ8/SEf
PKiCzrmI/AAAAAAAAR_s/SAWtqLlV5Qw/s400/IMG00038.jpg)](http://3.bp.blogspot.com/
_Ng3QbVQfLZ8/SEfPKiCzrmI/AAAAAAAAR_s/SAWtqLlV5Qw/s1600-h/IMG00038.jpg) [![](ht
tp://3.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPGiCzrlI/AAAAAAAAR_k/9ZVOZXOuhq8/s400/I
MG00039.jpg)](http://3.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPGiCzrlI/AAAAAAAAR_k/9Z
VOZXOuhq8/s1600-h/IMG00039.jpg) [![](http://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEf
PDSCzrkI/AAAAAAAAR_c/HuoFOMnMPvw/s400/IMG00040.jpg)](http://2.bp.blogspot.com/
_Ng3QbVQfLZ8/SEfPDSCzrkI/AAAAAAAAR_c/HuoFOMnMPvw/s1600-h/IMG00040.jpg)
[![](http://4.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPAyCzrjI/AAAAAAAAR_U/Fq-qaIQjk-E
/s400/IMG00041.jpg)](http://4.bp.blogspot.com/_Ng3QbVQfLZ8/SEfPAyCzrjI/AAAAAAA
AR_U/Fq-qaIQjk-E/s1600-h/IMG00041.jpg)
[![](http://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEfO-SCzriI/AAAAAAAAR_M/jaP9miTIGAE
/s400/IMG00042.jpg)](http://2.bp.blogspot.com/_Ng3QbVQfLZ8/SEfO-
SCzriI/AAAAAAAAR_M/jaP9miTIGAE/s1600-h/IMG00042.jpg)</p>
]]></content>
        </entry>
            <entry>
            <title type="html"><![CDATA[Diggnation filming at Studio B in NYC tonight]]></title>
            <link href="https://www.timbroder.com/2008/06/diggnation-filming-at-studio-b-in-nyc.html"/>
            <updated>2008-06-04T11:36:00+00:00</updated>
            <id>https://www.timbroder.com/2008/06/diggnation-filming-at-studio-b-in-nyc.html</id>
            <content type="html"><![CDATA[<p>Kevin Rose is filming Diggnation in Brooklyn tonight for <a href="http://www.internetweekny.com/">Internet
Week</a>. It starts at 6 I should be able to get
out of work in time. Anyone else going?</p>

<p>"Diggnation is a weekly video podcast produced by Revision3. It is hosted by
Kevin Rose and Alex Albrecht, who had previously hosted TechTV's The Screen
Savers together. Its main purpose is to discuss the top stories from Digg, the
social bookmarking website developed by Rose and others. The format of the
show usually involves Rose and Albrecht reviewing one or more brands of beer
at the opening of the show, of which they will consume throughout the show,
(steadily getting more and more drunk until they are almost incoherent)
followed by them discussing various Digg stories from the previous week. Both
audio and video versions of the podcast are available from Revision3."</p>
]]></content>
        </entry>
            <entry>
            <title type="html"><![CDATA[Appengine Hackathon!]]></title>
            <link href="https://www.timbroder.com/2008/05/appengine-hackathon.html"/>
            <updated>2008-05-07T12:07:00+00:00</updated>
            <id>https://www.timbroder.com/2008/05/appengine-hackathon.html</id>
            <content type="html"><![CDATA[<p>I'm heading to Google NY for the day for an appengine hackathon. I have a
bazillion ideas banging around in my head. We'll see what I come back with. If
anyone else is going to be there send me an
<a href="&#109;&#x61;&#105;&#x6c;&#116;&#111;&#x3a;&#116;&#x69;&#109;&#x6f;t&#104;&#x79;&#46;&#x62;&#114;&#x6f;&#x64;&#101;&#x72;&#64;&#x67;m&#97;&#x69;&#108;&#x2e;&#99;&#x6f;m">email</a> me or send me a
<a href="http://twitter.com/broderboy">tweet</a></p>

<p><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=76+Ninth+Avenue,+New+York,+NY+10011&amp;sll=40.71453,-74.00713&amp;sspn=0.208963,0.421944&amp;ie=UTF8&amp;ll=40.751744,-74.000387&amp;spn=0.003845,0.010042&amp;z=14&amp;iwloc=addr&amp;source=embed">View Larger Map</a></p>
]]></content>
        </entry>
    </feed>