<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include "head" %}
<body>@@@@@@@
    {% block header_wrapper %}
        {% block header %}
            <header role="banner">{% include "header" %}</header>
        {% endblock %}
    {% endblock %}
    {% block navigation_wrapper %}
        {% block navigation %}
            <nav role="navigation">{% include "navigation" %}</nav>
        {% endblock %}
    {% endblock %}
    {% block hero_wrapper %}
        {% block hero %}{% endblock %}
    {% endblock %}
    <div id="main">
        <div id="content">abc
            {% include "content_wrapper" %}
        </div>
    </div>
    {% block footer_wrapper %}
        {% block footer %}
            <footer role="contentinfo">{% include "footer" %}</footer>
        {% endblock %}
    {% endblock %}
    {% include "after_footer" %}
</body>
</html>
