{% extends "base" %}
{% block content_wrapper %}

    <article class="hentry" role="article">
        !! {% include "article" with {post: page} %}
    </article>

    {% if page.previous_post or page.next_post %}
        <nav class="ordered-content">
            {% if page.next_post %}
                <a class="next" href="{{ page.next_post.url }}">&laquo; {{ page.next_post.title }}</a>
            {% endif %}
            {% if page.previous_post %}
                <a class="prev" href="{{ page.previous_post.url }}">{{ page.previous_post.title }} &raquo;</a>
            {% endif %}
        </nav>
    {% endif %}
{% endblock %}
